@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Style.css */
body {
  background: linear-gradient(
    191deg,
    rgb(4, 71, 85) 35%,
    rgb(0, 195, 255) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:0;
}
/*container de ma to do list (couleur de fond blanc avec un box shadows) */
.todo-container{
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    border: #ffffff solid 2px;
    width: 500px;
    text-align: center;
}
h1{
    margin-bottom: 64px;
}
/* Champ pour ajouter mes tâches*/
.todo-input{
    display: flex;
    gap: 25px;
    margin-bottom: 40px;

}
input{
    flex: 1;
    padding: 10px;
    border: 1px dotted;
    border-radius:30px;
    text-align: center;
    letter-spacing: 1px;
}
/* Bouton*/
button {
    width: 50px; 
    height: 50px;
    padding: 0; 
    background-color: #1c6590;
    color: white; 
    border: none; 
    border-radius: 50%; 
    cursor: pointer; 
    font-size: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 4px 6px #00000033; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}
button:active {
    transform: scale(0.95); 
  }
/* bouton + au survol de la souris*/

.addTaskButton:hover{
    background-color: #00d4ff;
}

/* Liste des tâches*/
ul{
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li input[type="checkbox"]{
    margin-right: 10px;
    cursor: pointer;
}

/* Couleur de text pour ajouter une tâche*/
li button{
    background: none;
    border:none;
    color:#333;
    font-size: 1.2rem;
    cursor:pointer;
    margin-left: 5px;
}
/* h1*/
li span{
    display: flex;
    flex:5;
    font-family: "Playfair Display", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 13px;
}

/* Couleurs de mes icônes pour modifer et supprimer */
li button, .fa-edit{
    color:#1c6590;
    margin: 15px;
}

li button, .fa-trash{
    color:#00d4ff;
}

